#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  background-color: antiquewhite;
}
button{
  text-align: center;
  align-items: center;
}

.image img{
  margin-top: 5px;
  max-width: 750px;
  max-height: 350px;
}
